<!DOCTYPE html>
<html>
<head>
   <?php $this->view("header.php"); ?>
</head>
<body>
   <?php $this->view("nav.php"); ?>
   
   <div class="container py-3" style="margin-top:100px">
      <h3 style="text-align: center">Robot Copy Giao Dịch & Tính Năng</h3>
      <p> Robot copy giao dịch được trang bị các tính năng tiện lợi nhất giúp cho công việc giao dịch của bạn được thực hiện nhanh chóng và chính xác. Các tính năng của robot copy lệnh bao gồm:</p>
      <ul>
         <li><p> Sao chép từ MỘT sang NHIỀU tài khoản chỉ bằng một robot.</p></li>
         <li><p> Sao chép tất cả các mã tiền tệ chỉ với một robot duy nhất.</p></li>
         <li><p> Sao chép tất cả các loại lệnh.</p></li>
         <li><p> Có khả năng sao chép lệnh đóng từng phần (Parttial Close).</p></li>
         <li><p> Sao chép được giao dịch giữa các sàn khác nhau.</p></li>
         <li><p> Tự động chuyển đổi mã tiền tệ giữa các sàn.</p></li>
         <li><p> Điều chỉnh Lot-size tùy theo số dư của tài khoản clients.</p></li>
         <li><p> Có chức năng quản trị rủi ro theo từng tài khoản slaver.</p></li>
         <li><p> Có thể sao chép đảo chiều lệnh so với tài khoản gốc.</p></li>
         <li><p> Tốc độ sao chép nhanh, < 1/10s cho mỗi giao dịch.</p></li>
      </ul>
   </div>

   
</body>
<?php $this->view("footer.php"); ?>

</html>