<!DOCTYPE html>
<html>
<head>
   <?php $this->view("header.php"); ?>
</head>
<body>
   <?php $this->view("nav.php"); ?>
   
   <div class="container py-3" style="margin-top:100px">
      <h3 style="text-align: center">Robot Đóng Lệnh Tự Động</h3>
      <p> Robot đóng lệnh giao dịch forex với nhiều giao dịch tùy chọn khác nhau. Các chức năng của Robot được liệt kê ở phần bên dưới:</p>
      <b><p>1. Tự động đóng toàn bộ lệnh theo lãi mục tiêu:</p></b>
      <p>- Robot tự động đóng toàn bộ các lệnh đang treo khi tổng các lệnh đang treo đạt hoặc vượt Mức lãi mục tiêu.</p>

      <p>- Tùy biến nhập vào mức Lợi nhuận mục tiêu mong muốn.</p>

      <b><p>2. Tự động đóng từng lệnh khi đạt mức Lãi mục tiêu:</p></b>

      <p>- Tự động đóng các lệnh đã đạt mức lãi theo kì vọng của Nhà đầu tư.</p>

      <p>- Có thể lựa chọn đóng riêng từng cặp tiền.</p>

      <p>- Mức lợi nhuận kỳ vọng có thể nhập vào tùy biến</p>

      <b><p>3. Đóng toàn bộ lệnh theo cặp tiền tệ lựa chọn:</p></b>

      <p>- Tự động đóng ngay lập tức tất cả các lệnh của một hoặc nhiều cặp tiền tệ mà Nhà đầu tư chỉ định.</p>

      <p>- Có lựa chọn riêng cặp tiền tệ mà nhà đầu tư muốn đóng.</p>

      <b><p>4. Tự động đóng toàn bộ lệnh theo Thời gian đặt trước:</p></b>

      <p>- Tự động đóng tất cả các lệnh tại thời gian mà Nhà đầu tư đặt cho Robot.</p>

      <p>- Cho phép lựa chọn cặp tiền tệ riêng lẻ để đóng theo thời gian.</p>

      <b><p>5. Đóng các loại lệnh Chờ (Buy Limit, Buy Stop …):</p></b>

      <p>- Robot đóng tất cả các lệnh theo từng nhóm loại lệnh Buy limit, Sell limit, Buy stop và Sell Stop.</p>

      <b><p>6. Đóng tất cả lệnh theo nhóm BUY hoặc SELL:</p></b>

      <p>- Robot tự động đóng tất cả các lệnh Buy (Mua) hoặc tất cả các lệnh Sell (Bán) khi tổng lãi của từng nhóm đạt được lãi mục tiêu đặt ra.</p>

      <p>- Mức Lợi nhuận kỳ vọng có thể nhập vào tùy biến.</p>

      <b><p>7. DashBoard Trend: Tín hiệu đa cặp tiền đa khung thời gian:</p></b>

      <p>- Có thể Quan sát được xu hướng của nhiều cặp tiền tệ và đa khung thời gian theo chỉ báo.</p>

      <p>- Quản lý được thông tin các lệnh đang treo. Ví dụ như tổng lệnh đang treo, tổng hợp lãi lỗ thông tin về spread ….</p>

      <p>- Thực hiện là việc đặt hoặc đóng lệnh trực tiếp trên màn hình theo nhiều tiêu chí khác nhau.</p>
   </div>

   
</body>
<?php $this->view("footer.php"); ?>

</html>